@font-face 
{
     font-family:"virgo";
     src: url(../fonts/virgo.ttf);
     font-style: normal;
    font-weight: normal;
}

@font-face 
{
     font-family:"Segoe_WP_Light";
     src: url(../fonts/Segoe_WP_Light.ttf);
     font-style: normal;
    font-weight: normal;
}


 